<div>
    <p class="input-group" style="width:400px;">
        <span class="input-group-addon" style="width: 140px; text-align:left;">Login Email:</span>
        <input type="text" class="form-control" ng-model="accountModelStep2.LoginEmail" placeholder="login email" />
    </p>
    <p class="input-group" style="width:400px;">
        <span class="input-group-addon" style="width: 140px; text-align:left;">Password:</span>
        <input type="password" class="form-control" ng-model="accountModelStep2.Password" placeholder="password" />
    </p>
    <p class="input-group" style="width:400px;">
        <span class="input-group-addon" style="width: 140px; text-align:left;">Password Confirm:</span>
        <input type="password" class="form-control" ng-model="accountModelStep2.PasswordConfirm" placeholder="password confirm" />
    </p>

    <hr style="width:415px; text-align:left;" />
    <div>
        <a href="#" class="btn,btn-info" ng-click="previous()">Previous</a>
        <a href="#" class="btn,btn-info" ng-click="confirm()">Next</a>
    </div>

</div>
